<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>Mi página</title>
<link href="normal.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 481px)">
<link href="movil.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)">
</head>

<body>

	<header>
		<h1>Welcome </h1>
	</header>

	<h3>Personal picture:</h3>
	<p id="imagen"><img src="http://javierbarrueco.neocities.org/Practica1/foto.jpg" width="200" heigh="246" alt="Imagen-Personal"/></p><br>
	<h3 align="center">Best song to start the day:</h3>
	<p id="video"><iframe width="380" height="320" src="https://www.youtube.com/embed/SGyOaCXr8Lw" frameborder="0" allowfullscreen></iframe></p>

</body>
</html>